<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ces.dao.CoursewareMapper" >
  <resultMap id="BaseResultMap" type="cn.ces.entity.Courseware" >
    <id column="cwid" property="cwid" jdbcType="INTEGER" />
    <result column="cwname" property="cwname" jdbcType="VARCHAR" />
    <result column="cid" property="cid" jdbcType="VARCHAR" />
    <result column="credit" property="credit" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    cwid, cwname, cid, credit, url
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from courseware
    where cwid = #{cwid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from courseware
    where cwid = #{cwid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.ces.entity.Courseware" >
    insert into courseware (cwid, cwname, cid, 
      credit, url)
    values (#{cwid,jdbcType=INTEGER}, #{cwname,jdbcType=VARCHAR}, #{cid,jdbcType=VARCHAR}, 
      #{credit,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.ces.entity.Courseware" >
    insert into courseware
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cwid != null" >
        cwid,
      </if>
      <if test="cwname != null" >
        cwname,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="credit != null" >
        credit,
      </if>
      <if test="url != null" >
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cwid != null" >
        #{cwid,jdbcType=INTEGER},
      </if>
      <if test="cwname != null" >
        #{cwname,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="credit != null" >
        #{credit,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ces.entity.Courseware" >
    update courseware
    <set >
      <if test="cwname != null" >
        cwname = #{cwname,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=VARCHAR},
      </if>
      <if test="credit != null" >
        credit = #{credit,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where cwid = #{cwid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ces.entity.Courseware" >
    update courseware
    set cwname = #{cwname,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=VARCHAR},
      credit = #{credit,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR}
    where cwid = #{cwid,jdbcType=INTEGER}
  </update>
</mapper>